  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Precision Electrical</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="assets/application.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <%= image_tag("Logo.jpg", height: "126"  , width: "198.4" ) %>
      </div>
      <!--Menu Navigation -->
      <div class="menu_nav">
       <ul>
          <li class="active menu_nav_item">
            <a href="index.html">
              Home<br />
              <span>home page</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <div class="dropdown">
              <a class="dropdown-toggle" id="services-menu-drop" data-toggle="dropdown" href="#">
                Services <br />
                <span>information</span>
              </a>
              <!-- Drop Down Menu -->
              <ul class="dropdown-menu">
                <li>
                  <a class="drop_down_items" href="#one">Service one</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service two</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service three</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service four</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service five</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service six</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service Seven</a>
                </li>
              </ul>
            </div> 
          </li>
          <li class="menu_nav_item">
            <a href="about.html">
              About Us<br />
              <span>company info</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <a href="gallery.html">
              Gallery<br />
              <span>case studies</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <a href="contact.html" class="last">
              Contact Us<br />
              <span>call us now</span>
          </a>
        </li>
      </ul>     
        <div class="clr"></div>
      </div>
      <i id= "img-down" class="icon-chevron-down" style="position:relative;left:272px;top:105px;display:none"></i>
      <div class="clr"></div>
    </div>
  </div>
    <div id="main_show"> <%= image_tag("check_img3.jpg") %></div>

<div clas="clear_elements" ></div>



<script type="text/javascript">
             
  $(document).ready(function() {
    $('#services-menu-drop').hover(function(){
      $('#img-down').show();
      },
      function(){
        $('#img-down').hide();
      }
    );  
});

</script>


<div class="clear_elements"></div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="span3">
        <h2>Image Gallery</h2>
        <a href="#"><%= image_tag("gallery_1.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_2.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_3.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_4.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_5.jpg", width: "58", height: "58", alt: "pix") %></a> 
        <a href="#"><%= image_tag("gallery_6.jpg", width: "58", height: "58", alt: "pix") %></a> 
      </div>
      <div class="span4" style="margin-left:50px">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor<br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam</a>, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
      </div>
      <div class="span3" style="margin-left:40px">
        <h2><span>Contact</span></h2>
        <p><a href="mailto:precisionelectricals.com?Subject=Enquiry for Precision Electrical">Email us: precisionelectricals.com </p>
        <p>Call us: +1 (123) 444-5677</p>
        <div class=" span3 social" style="margin-left:-20px">
          <br/>
          <a href="#"><%= image_tag("facebook.png", width: "40", height: "40", alt: "pix") %></a> 
          <a href="#"><%= image_tag("linkedin.png", width: "40", height: "40", alt: "pix") %></a> 
          <a href="#"><%= image_tag("twitter.png", width: "40", height: "40", alt: "pix") %></a> 
        </div>
      </div>
      <div class="clear_elements"></div>
    </div>
    <div class="footer">
      <p class="lr">&copy; 2001 - 2012 Precision Electrical</p>
      <p class="lf"></p>
      <div class="clear_elements"></div>
    </div>
  </div>
</div>
</body>
</html>
