<div class="container content">
	<br/>
	<div class="lighting_heading" class="article ">
		<h2 style="text-align:center;">Who We Are</h2>

		<p>
			Precision Electrical are formally an electrical company dedicated to offering electrical services to mainly the private(residential and home owner),corporate and even industrial sectors within the London and Greater London area. The company has over 20 years of hands on experience in all areas of electrical services offered in the Greater London area. We pride ourselves at meeting challenges head on with a plethora of knowledge and tools at hand. For years, our company strives to hire and train only the highest of caliber individuals to tackle the different areas of services we offer. So when you have one of our London based electritians/Engineers/Plumbers arrive at your location you can be rest assured that each and every individual we employee is fully accredited and qualified to handle whatever the issue at hand. <br/><br/>

			Providing electrical services in the London and Greater London area is only part of who we are. business culture at Precision Electrical is also focused on not just meeting client expectations but exceeding those expectations. This we feel is best done by building string professional relationships with our clients. Making sure you get the best rates possible and can see the value and high quality craftsmen ship you get for you money. We believe in making sure that our clients are fully aware of how much they can get for their money when it comes to a particular services. Surprises after never a good thing and we strive to make sure those never happen.<br/><br/>

			Please free to browse our site and see all the services we offer. If you have questions, please don't hesitate to call us or drop us an email. We will endeavor to get back to you as soon as possible - usually with in the same day.
		</p>

	</div>
</div>