
<div class="container content">
	<h2 style="text-align:center">How to get ahold of us:</h2>
	<br/>
	<br/>
	<div class="contact_content">
			<!-- contact numbers -->
			<div class='contact_us_heading' >
				<%= image_tag "telephone_yellow_fit.png", :size => "25x25",  :alt => "", :class => ' left' %>
				&nbsp;Call us:
			</div>
				<div style='position:relative; top:5px; left:37px'>
					Enquiries & Sales: 017 8440 9086  or 07759166790
				</div>
		<div>
			<br/>
			<br/>
			<!-- email -->
			<div class='contact_us_heading' >
				<%= image_tag "email_orange_fit.png", :size => "25x25",  :alt => "", :class => '',  style: "vertical-align: top;" %>
				Email:
			</div>
				<div  style='position:relative; top:5px; left:34px'>
					<a href="mailto:info@mearsinteriors.co.uk?subject=Information enquiry for Mears Office Interiors.">info@precisionelectrical.org</a>
					<br/>
				</div>
			</div>
			<!-- address -->
			<br/>
			<br/>
			<div class='contact_us_heading' >
				<%= image_tag "address_contact_us_fit.png", :size => "30x30",  :alt => "", style: "position: relative;top: -3px;vertical-align: top;" %>
				<span style='position:relative; top:-5px'>Address:</span>
			</div>
			<div  style='position:relative; top:3px; left:37px'>
				Precision Electrical London <br/>
				16 Sycamore Walk<br/>
				Egham London<br/>
				Hertfordshire<br/>
				TW20 0PD
			</div>
			<div style="position:relative; top:-150px;left:250px">
				<%=image_tag "map.jpeg", alt: "google maps of offices"%>
			</div>
		</div>
	</div>
<div>
