				<div style="position:relative; left:100px; width=100px">
					<!-- contact numbers -->
					<div class='heading' >
						<%= image_tag "telephone_yellow.png", :size => "25x25",  :alt => "", :class => ' left' %>
						&nbsp;Call us:
					</div>
						<div style='position:relative; top:5px; left:37px'>
							Enquiries & Sales: 01256 350 240
						</div>
				<div>
					<br/>
					<br/>
					<!-- email -->
					<div class='heading' >
						<%= image_tag "email_orange.png", :size => "25x25",  :alt => "", :class => '' %>
						Email:
					</div>
						<div  style='position:relative; top:5px; left:34px'>
							<a href="mailto:info@mearsinteriors.co.uk?subject=Information enquiry for Mears Office Interiors.">info@mearsinteriors.co.uk</a>
							<br/>
							<a href="mailto:sales@mearsinteriors.co.uk?subject=Sales enquiry for Mears Office Interiors.">sales@mearsinteriors.co.uk</a>
						</div>
					</div>
					<!-- address -->
					<br/>
					<br/>
					<div class='heading' >
						<%= image_tag "address_contact_us.png", :size => "30x30",  :alt => "" %>
						<span style='position:relative; top:-5px'>Address:</span>
					</div>
						<div  style='position:relative; top:3px; left:37px'>
							51 Church Lane<br/>Rickmansworth<br/>Hertfordshire<br/>WD3 8PT
						</div>
					</div>
				</div>