<div class="container content">
  <div class="thumbnail_selection">
    <div class="article">
      <h2>Welcome to our website!</h2>
      
        <p>
          Here at Precision Electrical we believe in quality service, honest advice and workman ship that meets all certificational requirements within the specifc field of electrical work. We cater for domestic, commercial and industrial electrical service needs in London and the greator London area. Our aim is not only to please our customers but build a continuing working realtionship to keep them up to date on new electrical requirements and needed maintanance checks. 
        </p>
        <p>
          Our highly skilled and acredited team of electricians are equiped to tackle whatever electrical requirement or issue at hand, while at the same time deliver a totally proffessional service meeting all legal and custom requirements. Due to the fact we have been in bussiness so long we are able to beat most quotes and believe we can offer you the best avaiable service at very resonable rates. Please feel free to browse the site or alternatively give us a call or drop us a message and we'll get back to you at your convenience.
        </p>
    </div>
    <br/>
    <br/>

    <div class="span3" style="margin-left:0px;">
      <a  href="/heating-and-plumbing" class="btn btn-large btn-warning" style="width:230px">
          <span class="icon-random" style="position:relative;top:2px "></span> 
          Heating & Plumbing  
      </a>
      <p style="padding-top:10px">
          We install, maintain and service various heating systems, and provide a variety of plumbing services while at the same time being able to help you choose an efficient and cost effective approach. No jobs is really to big or to small. Have a look at just some of the services we offer.
      </p>
    </div>
    <div class="span3" style="margin-left:57px;">
      <a href="/fire-and-safety" style="">
        <button class="btn btn-large btn-danger" style="width:230px" >
          <span class="icon-fire" style="position:relative;top: 2px"></span> 
          Fire and Safety  
        </button> 
      </a href="">
      <p style="padding-top:10px" >
        We install, maintain and service Fire Safety installations and fire safety systems required in commercial, industrial and public buildings to ensure the safety of occupants in the event of fire or emergency. We offer a variety of installations and services in this area. 

      </p>
    </div>
    <div class="span3" style="margin-left:57px">
      <a href="/electrical-instalments" style="">
        <button class="btn btn-large btn-info" style="width:230px">
          <span class="icon-wrench" style="position:relative;top: 2px"></span> 
          Installation Services  
        </button> 
      </a>
      <p style="padding-top:10px">
        Precision Electrical caters for a wide variety of sectors whether it be home automation systems for a domestic or commercial enviroment, power installations for bussinesses or even lighting. We have enough experience to provide the best solution at the right price. 
        <p>
    </div>
  </div>
</div>
