<div class="content container">
	<h2 style="text-align:center;">Rates</h2><br/>
	<div class="rates_page_tables">
		<h3>Hour and Daily Charges:</h3>
		<table>
		<thead>
			<th class="rates_table_headings">Days</th>
			<th class="rates_table_headings">Minimum Charges</th>
			<th class="rates_table_headings">Hourly Rate</th>
		</thead>
		<tr>
			<td>Monday to Friday: 8am-6pm</td>
			<td>1 Hour</td>
			<td>&pound;45</td>
		</tr>
		<tr>
			<td>Monday to Friday: 6pm-8am</td>
			<td>2 Hours</td>
			<td>&pound;60</td>
		</tr>
		<tr>
			<td>
				Saturdays to Sundays: 8am-6pm 
				&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
			</td>
			<td>2 Hours</td>
			<td>&pound;60</td>
		</tr>
		<tr>
			<td>Saturdays to Sundays: 6pm-8am</td>
			<td>2 Hours</td>
			<td>&pound;80</td>
		</tr>
		<tr>
			<td>Monday to Friday: 8am-4pm</td>
			<td>
				1 Electrician
				&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
			</td>
			<td>&pound;200</td>
		</tr>
		<tr>
			<td>Monday to Friday: 8am-4pm</td>
			<td>2 Electrician</td>
			<td>&pound;350</td>
		</tr>
		<tbody>
		</tbody>
	</table>
	</div>	
		<br/>
		<br/>
	<div class="rates_page_tables">
		<h3>Electrical Installation Condition Reports/Periodic Tests:</h3>
		<table>
		<thead>
			<th class="rates_table_headings">Property Size</th>
			<th class="rates_table_headings">Minimum Charges</th>
		</thead>
		<tr>
			<td>Bedsit</td>
			<td>&pound;95</td>
		</tr>
		<tr>
			<td>1 Bedroom</td>
			<td>&pound;100</td>
		</tr>
		<tr>
			<td>
				2 Bedroom
				&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
				&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
			</td>
			<td>&pound;120</td>
		</tr>
		<tr>
			<td>3 Bedroom</td>
			<td>&pound;155</td>
		</tr>
		<tr>
			<td>4 Bedroom</td>
			<td>&pound;175</td>
		</tr>
		<tr>
			<td>4+ Bedrooms or other</td>
			<td>On application.</td>
		</tr>
		<tbody>
		</tbody>
	</table>
	</div>
	<br/>
	<br/>
	<div class="rates_page_tables">
		<h3>Portable Appliance Testing</h3>
		<span>&pound;2.00 per appliance, minimum 30 appliances, or minimum charge at &pound;60.00</span>
	</div>
</div>