.navlist
{
font:normal 12px/1.8em Arial, Helvetica, sans-serif;
padding-left: 0;
list-style: none;
width:500px;
}

.navlist li
{
padding-left:20px;
padding-right: 10px;
background-image: url(bullet.png);
background-repeat: no-repeat;
width:300px;
}


.trust img{float:left;}