<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Precision Electrical</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <a href="/">
          <%= image_tag("Logo.jpg", height: "126"  , width: "198.4" ) %>
        </a>
      </div>
      <!--Menu Navigation -->
      <div class="menu_nav">
       <ul>
          <li class="active menu_nav_item">
            <a href="index.html">
              Home<br />
              <span>home page</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <div class="dropdown">
              <a class="dropdown-toggle" id="services-menu-drop" data-toggle="dropdown" href="#">
                Services <br />
                <span>information</span>
              </a>
              <!-- Drop Down Menu -->
              <ul class="dropdown-menu">
                <li>
                  <a class="drop_down_items" href="#one">Service one</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service two</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service three</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service four</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service five</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service six</a>
                </li>
                <li>
                  <a class="drop_down_items" href="#three">Service Seven</a>
                </li>
              </ul>
            </div> 
          </li>
          <li class="menu_nav_item">
            <a href="about.html">
              About Us<br />
              <span>company info</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <a href="gallery.html">
              Gallery<br />
              <span>case studies</span>
            </a>
          </li>
          <li class="menu_nav_item">
            <a href="contact.html" class="last">
              Contact Us<br />
              <span>call us now</span>
          </a>
        </li>
      </ul>     
        <div class="clr"></div>
      </div>
      <i id= "img-down" class="icon-chevron-down" style="position:relative;left:272px;top:105px;display:none"></i>
      <div class="clr"></div>
    </div>
  </div>
    <div id="main_show"> <%= image_tag("check_img3.jpg") %></div>

<div clas="clear_elements" ></div>



<script type="text/javascript">
             
  $(document).ready(function() {
    $('#services-menu-drop').hover(function(){
      $('#img-down').show();
      },
      function(){
        $('#img-down').hide();
      }
    );  
  });

</script>
